// Place all the styles related to the Operations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: black;
}

section{
    background-color: black;
    color: #FBFBF2;

    font-family: Helvetica, sans-serif;
}
h1{
    color:red
}


